* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  box-sizing: border-box;
}

.cabecalho {
  margin: 10px;
  padding: 20px;
  border: #000000 solid 5px;
}

.corpo {
  display: flex;
  justify-content: space-between;
}

.corpo__consulta {
  margin: 10px;
  padding: 20px;
  border: #000000 solid 5px;
  width: 1024px;
}

.corpo__consulta__texto {
  margin: 10px;
  padding: 20px;
  border: #000000 solid 5px;
}

.corpo__consulta__texto__input {
  height: 350px;
  width: 800px;
}

.corpo__consulta__botoes {
  display: flex;
  margin: 10px;
  padding: 20px;
  border: #000000 solid 5px;
  justify-content: space-evenly;
}

.corpo__resultado {
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: #000000 solid 5px;
  width: 512px;
  gap: 10px;
}

#resposta_consulta {
  display: none;
}

#botao_copiar {
  display: none;
}

.rodape {
  margin: 10px;
  padding: 20px;
  border: #000000 solid 5px;
}
