@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary-color: #0a3871;
  --primary-light-color: #1f4f8a;
  --secondary-color: #d8dfe8;
  --secondary-light-color: #e5e5e5;
  --third-color: #ffffff;
  --forth-color: grey;
  --primary-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-light-color);
  /* height: 100vh; */
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  padding-top: 16px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  /* border: #000000 solid 5px; */
  font-family: var(--primary-font);
  font-size: 64px;
  color: var(--primary-color);
}

#cabecalho__botao1 {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;
}

#cabecalho__botao1:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--primary-color) 2px solid;
}

#cabecalho__botao1:active {
}

.corpo {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.corpo__consulta {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: #000000 solid 5px; */
  width: 1024px;
}

.corpo__consulta__texto {
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  /* border: #000000 solid 5px; */
}

.corpo__consulta__texto__input {
  width: 100%;
  box-sizing: border-box;
  font-family: var(--primary-font);
  font-size: 32px;
  border: none;
  background-color: transparent;
  flex-wrap: wrap;
  resize: none;
  outline: none;
  color: var(--primary-color);
}

#corpo__consulta__aviso {
  font-family: var(--primary-font);
  font-size: 16px;
  margin-left: 30px;
}

.corpo__consulta__botoes {
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  /*   border: #000000 solid 5px; */
  justify-content: space-evenly;
  gap: 24px;
}

.corpo__resultado {
  margin-bottom: 60px;
  margin-right: 60px;
  padding: 20px;
  background-color: var(--third-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: #000000 solid 5px; */
  height: 426px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px var(--secondary-color);
  font-family: var(--primary-font);
  font-size: 24px;
}

.corpo__resultado__semTexto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.corpo__resultado__semTexto__imagem {
  display: flex;
  width: 270px;
  border-radius: 100%;
  border: solid 5px var(--primary-color);
}

#corpo__resultado__semTexto__subtitulo {
  font-weight: bold;
  font-size: 24px;
}

.corpo__resultado__comTexto {
  margin: 0px;
  padding: 0px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

#resposta_consulta {
  border: none;
  background-color: transparent;
  flex-wrap: wrap;
  resize: none;
  outline: none;
  font-size: 24px;
  color: var(--forth-color);
}

.corpo__resultado__caracteresInvalido {
  display: none;
}

.rodape {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin: 0px;
  padding: 24px;
  background-color: var(--primary-color);
  font-family: var(--primary-font);
  font-size: medium;
  color: var(--secondary-color);
  text-align: center;
}

.botoes {
  display: inline-block;
  font-size: 16px;
  padding: 14.5px 164px;
  border-radius: 24px;
  text-decoration: none;
  border: none;
  text-align: center;
  transition-duration: 0.4s;
  cursor: pointer;
}

#botao__criptografia {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--primary-color) 2px solid;
}

#botao__criptografia:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;
}

#botao__descriptografia {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;
}

#botao__descriptografia:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--primary-color) 2px solid;
}

#botao_copiar {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: var(--primary-color) 2px solid;
}

#botao_copiar:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: var(--primary-color) 2px solid;
}
